<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CarServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50504/CarService.asmx" binding="basicHttpBinding"
                bindingConfiguration="CarServiceSoap" contract="ServiceReference1.CarServiceSoap"
                name="CarServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>